{{template "base" .}} <!-- сообщает Go шаблонизатору, что при выполнении
файла home.page.gohtml требуется вызвать базовый шаблон 'base' -->

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
    <h2>Последние заметки</h2>
    <p>Здесь пока ничего нет!</p>
{{end}}
